<div class="ai1ec-default-filters ai1ec-form-group">
	<label class="ai1ec-control-label ai1ec-col-sm-5">
		{{ label }}
		<div class="ai1ec-help-block">
		{{ help | raw }}
		</div>
	</label>
	<div class="ai1ec-col-sm-7">
		<div class="ai1ec-row">
			{% if categories is defined %}
				<div class="ai1ec-col-md-6">
					{{ categories | raw }}
				</div>
			{% endif %}
			{% if tags is defined %}
				<div class="ai1ec-col-md-6">
					{{ tags | raw }}
				</div>
			{% endif %}
		</div>
	</div>
</div>
