/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store
content/plugins/single-post-meta-manager-2.0.0
content/plugins/debug-bar
*.mo
*.po
*.php
content/themes/twentyfifteen/css/ie.css
*.css
*.eot
*.woff
*.txt
*.svg
*.js
*.html
*.ttf
*.pot
*.png
*.md