[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/plugins/google-analytics-for-wordpress"]
	path = content/plugins/google-analytics-for-wordpress
	url = git@github.com:wp-plugins/google-analytics-for-wordpress.git
[submodule "content/plugins/gravityforms"]
	path = content/plugins/gravityforms
	url = git@github.com:gravityforms/gravityforms.git
[submodule "content/plugins/hotfix"]
	path = content/plugins/hotfix
	url = git@github.com:wp-plugins/hotfix.git
[submodule "content/plugins/wp-super-cache"]
	path = content/plugins/wp-super-cache
	url = git@github.com:wp-plugins/wp-super-cache.git
[submodule "content/plugins/gravityformsmailchimp"]
	path = content/plugins/gravityformsmailchimp
	url = git@github.com:gravityforms/gravityformsmailchimp.git
[submodule "content/plugins/jetpack"]
	path = content/plugins/jetpack
	url = git@github.com:wp-plugins/jetpack.git
[submodule "content/plugins/limit-login-attempts"]
	path = content/plugins/limit-login-attempts
	url = git@github.com:wp-plugins/limit-login-attempts.git
[submodule "content/plugins/manual-control"]
	path = content/plugins/manual-control
	url = git@github.com:wp-plugins/manual-control.git
[submodule "content/plugins/add-to-any"]
	path = content/plugins/add-to-any
	url = git@github.com:wp-plugins/add-to-any.git
[submodule "content/plugins/updraftplus"]
	path = content/plugins/updraftplus
	url = git@github.com:wp-plugins/updraftplus.git
[submodule "content/plugins/wordfence"]
	path = content/plugins/wordfence
	url = git@github.com:wp-plugins/wordfence.git
[submodule "content/plugins/wp-secure-remove-wordpress-version"]
	path = content/plugins/wp-secure-remove-wordpress-version
	url = git@github.com:wp-plugins/wp-secure-remove-wordpress-version.git
[submodule "content/themes/quark"]
	path = content/themes/quark
	url = git@github.com:DecaturMakers/Quark.git
[submodule "content/plugins/akismet"]
	path = content/plugins/akismet
	url = https://github.com/wp-plugins/akismet
[submodule "content/plugins/the-events-calendar"]
	path = content/plugins/the-events-calendar
	url = git@github.com:moderntribe/the-events-calendar.git
[submodule "content/plugins/wp-meetup"]
	path = content/plugins/wp-meetup
	url = git@github.com:wp-plugins/wp-meetup.git
[submodule "content/plugins/captian-up"]
	path = content/plugins/captian-up
	url = git@github.com:wp-plugins/captain-up.git
[submodule "content/plugins/gravityformspaypal"]
	path = content/plugins/gravityformspaypal
	url = https://github.com/gravityforms/gravityformspaypal.git
[submodule "content/themes/Genesis-Theme-Bundle"]
	path = content/themes/Genesis-Theme-Bundle
	url = https://github.com/rfair404/Genesis-Theme-Bundle.git
[submodule "content/plugins/genesis-responsive-slider"]
	path = content/plugins/genesis-responsive-slider
	url = https://github.com/wp-plugins/genesis-responsive-slider
[submodule "content/plugins/wp-document-revisions"]
	path = content/plugins/wp-document-revisions
	url = git@github.com:benbalter/WP-Document-Revisions.git
[submodule "content/plugins/members"]
	path = content/plugins/members
	url = git@github.com:justintadlock/members.git
[submodule "content/plugins/regenerate-thumbnails"]
	path = content/plugins/regenerate-thumbnails
	url = git@github.com:wp-plugins/regenerate-thumbnails.git
[submodule "content/themes/DecaturMakers"]
	path = content/themes/DecaturMakers
	url = https://github.com/DecaturMakers/DecaturMakersTheme.git
[submodule "content/plugins/easy-pricing-table"]
	path = content/plugins/easy-pricing-table
	url = git@github.com:wp-plugins/easy-pricing-tables.git
[submodule "content/plugins/gravityformsuserregistration"]
	path = content/plugins/gravityformsuserregistration
	url = git@github.com:gravityforms/gravityformsuserregistration.git
[submodule "content/plugins/wordpress-importer"]
	path = content/plugins/wordpress-importer
	url = git@github.com:wp-plugins/wordpress-importer.git
[submodule "content/plugins/wp-symposium"]
	path = content/plugins/wp-symposium
	url = https://github.com/wp-plugins/wp-symposium.git
[submodule "content/plugins/gravityformssurvey"]
	path = content/plugins/gravityformssurvey
	url = https://github.com/gravityforms/gravityformssurvey.git
[submodule "content/themes/p2"]
	path = content/themes/p2
	url = https://github.com/wp-mirrors/p2.git
[submodule "content/themes/houston"]
	path = content/themes/houston
	url = https://github.com/woothemes/houston.git
[submodule "content/plugins/wordpress-seo"]
	path = content/plugins/wordpress-seo
	url = https://github.com/Yoast/wordpress-seo.git
[submodule "content/plugins/redirection"]
	path = content/plugins/redirection
	url = https://github.com/wp-plugins/redirection.git
[submodule "content/plugins/safe-redirect-manager"]
	path = content/plugins/safe-redirect-manager
	url = https://github.com/wp-plugins/safe-redirect-manager.git
[submodule "content/plugins/stellar-places"]
	path = content/plugins/stellar-places
	url = https://github.com/wp-plugins/stellar-places.git
[submodule "content/plugins/t-minus"]
	path = content/plugins/t-minus
	url = https://github.com/wp-plugins/jquery-t-countdown-widget.git
[submodule "content/plugins/genesis-featured-content-widget"]
	path = content/plugins/genesis-featured-content-widget
	url = https://github.com/wpsmith/genesis-sandbox-featured-content-widget.git
