[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "custom-content/plugins"]
	path = custom-content/plugins
	url = git@github.com:aawpa/aawpa-plugins.git
[submodule "custom-content/themes"]
	path = custom-content/themes
	url = https://github.com/aawpa/aawpa-theme
[submodule "custom-content/mu-plugins"]
	path = custom-content/mu-plugins
	url = git@github.com:aawpa/aawp-mu-plugins.git
[submodule "mu-plugins"]
	path = mu-plugins
	url = git@github.com:aawpa/aawpa-mu-plugins.git
