<footer class="ai1ec-event-footer">
	{% if event.get( 'ical_feed_url' ) is not empty %}
		<p class="ai1ec-source-link">
			{{ text_calendar_feed
				| format(
					event.get( 'ical_feed_url' )
					| replace( { 'http://': 'webcal://' } )
					| e('html_attr')
				)
			}}
			{% if event.get( 'ical_source_url' ) is not empty %}
				<a href="{{ event.get( 'ical_source_url' ) | e('html_attr') }}"
					target="_blank">
					{{ text_view_post }}
					<i class="ai1ec-fa ai1ec-fa-external-link"></i>
				</a>
			{% endif %}
		</p>
	{% endif %}
</footer>
