<div class="ai1ec-clearfix">
	{{ views_dropdown | raw }}
	<div class="ai1ec-title-buttons ai1ec-btn-toolbar">
		{{ before_pagination | raw }}
		{{ pagination_links | raw }}
		{{ after_pagination | raw }}
	</div>
</div>
