{% extends "theme-options/base_option.twig" %}
{% from 'form-elements/select.twig' import select %}
{% from 'form-elements/input.twig' import input %}
{% block variable %}
  <div class="ai1ec-col-sm-6 ai1ec-col-xs-9">
    {{ select( select.id, select.id, select.args, select.options ) }}
    {{ input( input.id, input.id, input.value, 'text', input.args ) }}
  </div>
{% endblock %}
