.webrit_button_new{float:right;}
.webrit_button_new:hover{color:white;}
.theme-info { padding-left:4%;}
.webriti-container {
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.webriti-container .theme-image img {
    border: 5px solid #AAAAAA;
    padding: 3px;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
#webriti_header {
    margin-bottom: 30px;
    text-align: center;
}

.container-fluid:before, .container-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}
.container-fluid:after {
    clear: both;
}
.container-fluid:before, .container-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}
.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn-success {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-info {
    background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
a {
    color: #0088CC;
    text-decoration: none;
}
.wrap h2{
    background: #444;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    color: #fff;
    margin-top: 10px;
    padding: 5px 15px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}
h4 {
    font-size: 17.5px;
}
h5 {
    font-size: 14px;
}
.theme-description p
{
	 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
p {
    margin: 0 0 10px;
}
.webrit_button{ color:#fff !important; font-weight:bold !important;}